html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

body
{
	background-color: black;
	margin:auto;
}

.photos {
	height: 100%
	margin-top: 50px;
}

#para1 {
	margin-left:15px;
}

.header-spacer {
	margin-top: 50px;
}

.photo-thumbnail {
	background-color: black;
	padding-top: 20px;
	padding-right: 20px;
}
